<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.vogella.rcp.intro.statusline.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="de.vogella.rcp.intro.statusline.Perspective"
            id="de.vogella.rcp.intro.statusline.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.vogella.rcp.intro.statusline.ViewPart1"
            id="de.vogella.rcp.intro.statusline.View1"
            name="My View"
            restorable="true">
      </view>
   </extension>

</plugin>
