<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.vogella.rcp.intro.wizards.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="de.vogella.rcp.intro.wizards.Perspective"
            id="de.vogella.rcp.intro.wizards.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.vogella.rcp.intro.wizards.handler.ShowWizard"
            id="de.vogella.rcp.intro.wizards.showWizard"
            name="Show Wizard">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <command
               commandId="de.vogella.rcp.intro.wizards.showWizard"
               label="Show Wizard"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.vogella.rcp.intro.wizards"
            name="MyView">
      </category>
      <view
            category="de.vogella.rcp.intro.wizards"
            class="de.vogella.rcp.intro.wizards.views.MyView"
            icon="icons/sample.gif"
            id="de.vogella.rcp.intro.wizards.views.MyView"
            name="MyView">
      </view>
   </extension>

</plugin>
