<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.vogella.plugin.dialogs.custom.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.vogella.plugin.dialogs.custom.Perspective"
            id="de.vogella.rcp.intro.dialogs.custom.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.vogella.rcp.intro.dialogs.custom.handler.OpenMyDialog"
            id="de.vogella.rcp.intro.dialogs.custom.openMyDialog"
            name="Open Dialog">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <command
               commandId="de.vogella.rcp.intro.dialogs.custom.openMyDialog"
               label="Open Dialog"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
