<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.jdt.ui.java"
            class="de.vogella.plugin.filterpackageexplorer.FilterPackageExplorer"
            icon="icons/creep-007.png"
            id="cc.frz.ecl.filterpackageexplorer"
            name="FPackage Explorer">
      </view>
   </extension>
</plugin>
