<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.vogella.plugin.selection.SelectionTrackerView"
            id="de.vogella.plugin.selection.selectiontracker"
            name="Selection Tracker"
            restorable="true">
      </view>
   </extension>

</plugin>
