<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="editortest.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="editortest.Perspective"
            id="EditorTest.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="editortest.View"
            id="EditorTest.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="editortest.editors.MyNameEditor"
            default="false"
            icon="icons/alt_window_16.gif"
            id="editortest.editors.MyNameEditor"
            name="MyNameEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="editortest.handler.CallEditor"
            id="editortest.callEditor"
            name="Call Editor">
      </command>
   </extension>

</plugin>
