<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocconcepts.xml">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocreference.xml">
      </toc>
      <toc
            file="tocsamples.xml">
      </toc>
      <toc
            file="toctasks.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Help">
            <command
                  commandId="org.eclipse.ui.help.displayHelp"
                  label="Open Help"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.helpSearch"
                  label="Search"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.dynamicHelp"
                  label="Dynamic Help"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.helpContents"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="context.xml"
            plugin="de.vogella.rcp.help.content">
      </contexts>
   </extension>

</plugin>
