<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <!-- =========================================================================== -->
<!-- Templates                                                                   -->
<!-- =========================================================================== -->
   <extension
         point="org.eclipse.ui.editors.templates">
      <include
            file="templates/additional-swttemplates.xml"
       >
      </include>
       <include
      		file="templates/additional-templates.xml">
      </include>
   </extension>

</plugin>
