<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <!-- =========================================================================== -->
<!-- Templates                                                                   -->
<!-- =========================================================================== -->
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextTypeRegistry
            id="org.eclipse.jdt.ui.CompilationUnitEditor">
      </contextTypeRegistry>
       <contextType
            name="Java ContextType"
            class="org.eclipse.jdt.internal.corext.template.java.JavaContextType"
            id="java"
            registryId="org.eclipse.jdt.ui.CompilationUnitEditor">
      </contextType>
      <contextType
            name="Statements"
            class="org.eclipse.jdt.internal.corext.template.java.JavaContextType"
            id="java-statements"
            registryId="org.eclipse.jdt.ui.CompilationUnitEditor">
      </contextType>
      <contextType
            name="Members"
            class="org.eclipse.jdt.internal.corext.template.java.JavaContextType"
            id="java-members"
            registryId="org.eclipse.jdt.ui.CompilationUnitEditor">
      </contextType>
      <contextType
            name="SWT Context Type"
            class="org.eclipse.jdt.internal.corext.template.java.SWTContextType"
            id="swt"
            registryId="org.eclipse.jdt.ui.CompilationUnitEditor">
      </contextType>
      <contextType
            name="SWT Statements"
            class="org.eclipse.jdt.internal.corext.template.java.SWTContextType"
            id="swt-statements"
            registryId="org.eclipse.jdt.ui.CompilationUnitEditor">
      </contextType>
      <contextType
            name="SWT Members"
            class="org.eclipse.jdt.internal.corext.template.java.SWTContextType"
            id="swt-members"
            registryId="org.eclipse.jdt.ui.CompilationUnitEditor">
      </contextType>      
      <include
            file="templates/additional-swttemplates.xml"
       >
      </include>
       <include
      		file="templates/additional-templates.xml">
      </include>
       <include
             file="templates/android-templates.xml">
       </include>
   </extension>

</plugin>
