<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="de.vogella.plugin.adapter.TodoAdapterFactory"
            adaptableType="de.vogella.plugin.adapter.model.Todo">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter3">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         id="de.vogella.plugin.adapter.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
