<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>SaveDataServlet</servlet-name>
		<servlet-class>de.vogella.gae.java.persistence.lowlevel.SaveDataServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetDataServlet</servlet-name>
		<servlet-class>de.vogella.gae.java.persistence.lowlevel.GetDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveDataServlet</servlet-name>
		<url-pattern>/save</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetDataServlet</servlet-name>
		<url-pattern>/show</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
