<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/red.css"
            id="com.vogella.plugin.themes.theme1"
            label="Ugly Red">
      </theme>
   </extension>

</plugin>
