<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.vogella.rcp.dialogs.swt.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="de.vogella.rcp.dialogs.swt.Perspective"
            id="de.vogella.rcp.dialogs.swt.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.vogella.rcp.dialogs.swt.handler.OpenDialog"
            id="de.vogella.rcp.dialogs.swt.openDialog"
            name="Open Dialog">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <command
               commandId="de.vogella.rcp.dialogs.swt.openDialog"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.vogella.rcp.dialogs.swt.View"
            id="de.vogella.rcp.dialogs.swt.View"
            name="View">
      </view>
   </extension>

</plugin>
