a#java-editor img { background-image : url(../../images/topiclabel/sa_samplepyramid48.gif); }
a#java-editor:hover img { background-image : url(../../images/topiclabel/sa_samplepyramid48_hov.gif); }
