a#hello-world img { background-image : url(../../images/topiclabel/tu_javaapp48.gif); }
a#hello-world:hover img { background-image : url(../../images/topiclabel/tu_javaapp48_hov.gif); }

a#swt img { background-image : url(../../images/topiclabel/tu_swtapp48.gif); }
a#swt:hover img { background-image : url(../../images/topiclabel/tu_swtapp48_hov.gif); }
