<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.vogella.rcp.intro.dialogs.selection.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="de.vogella.rcp.intro.dialogs.selection.Perspective"
            id="de.vogella.rcp.intro.dialogs.selection.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.vogella.rcp.intro.dialogs.selection.handler.SelectionDialog"
            id="de.vogella.rcp.intro.dialogs.selection.selectionDialog"
            name="Open Selection Dialog">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <command
               commandId="de.vogella.rcp.intro.dialogs.selection.selectionDialog"
               label="Open Selection Dialog"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
