@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, sans-serif;
	background-color: #D5F4FE;
	color: black;
}

h1 {
	color: #046381;
}

#maincontent {
	margin: 1ex 1em 1ex 1em;
	font-size: 11px;
}
