<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/overviewExtensionContent.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            category="org.eclipse.cheatsheets.category.rap"
            contentFile="cheatsheets/getting-started.xml"
            id="org.eclipse.rap.target.cheatsheet"
            name="RAP Target Installation">
      </cheatsheet>
      <category
            id="org.eclipse.cheatsheets.category.rap"
            name="Rich Ajax Platform">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.rap.ui.internal.intro.target.InstallRAPTargetHandler"
            id="org.eclipse.rap.ui.intro.installTarget"
            name="%installTargetCommand.name">
      </command>
      <command
            name="%launchRAPApplication.name"
            description="%launchRAPApplication.description"
            id="org.eclipse.rap.ui.internal.intro.commands.launchRAPApplication"
            defaultHandler="org.eclipse.rap.ui.internal.intro.commands.LaunchRAPApplication">
      </command>
   </extension>
   <!--
   <extension
         point="org.eclipse.pde.core.targets">
      <target
            definition="target/rap.target"
            id="org.eclipse.rap.target"
            name="Rich Ajax Platform (with source)">
      </target>
   </extension>
   -->
</plugin>
