<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.vogella.task.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="de.vogella.task.application.Perspective"
            id="de.vogella.task.application.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Task Overview"
            class="de.vogella.task.application.views.TaskOverview"
            id="de.vogella.task.application.views.TaskOverview">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Help">
            <command
                  commandId="org.eclipse.ui.window.resetPerspective"
                  style="push">
            </command>
         </menu>
         <menu
               id="Tasks"
               label="Tasks">
            <command
                  commandId="de.vogella.task.application.removeTask"
                  icon="icons/delete_obj.gif"
                  label="Remove"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:de.vogella.task.application.views.TaskOverview">
         <command
               commandId="de.vogella.task.application.removeTask"
               icon="icons/delete_obj.gif"
               label="Remove Tasks"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.vogella.task.application.handler.RemoveTask"
            id="de.vogella.task.application.removeTask"
            name="Remove Tasks">
      </command>
   </extension>

</plugin>
