a#swt-examples img { background-image : url(../../images/topiclabel/sa_samplecube48.gif); }
a#swt-examples:hover img { background-image : url(../../images/topiclabel/sa_samplecube48_hov.gif); }

a#multi-page-editor img { background-image : url(../../images/topiclabel/sa_sampleorb48.gif); }
a#multi-page-editor:hover img { background-image : url(../../images/topiclabel/sa_sampleorb48_hov.gif); }

a#property-sheet img { background-image : url(../../images/topiclabel/sa_sampleorb48.gif); }
a#property-sheet:hover img { background-image : url(../../images/topiclabel/sa_sampleorb48_hov.gif); }

a#readmetool img { background-image : url(../../images/topiclabel/sa_sampleorb48.gif); }
a#readmetool:hover img { background-image : url(../../images/topiclabel/sa_sampleorb48_hov.gif); }
