a#pde-noteworthy img { background-image : url(../../images/topiclabel/wn_pluginenviro48.gif); }
a#pde-noteworthy:hover img { background-image : url(../../images/topiclabel/wn_pluginenviro48_hov.gif); }
