<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>ReceiveRegistration</servlet-name>
		<servlet-class>de.vogella.gae.java.c2dm.ReceiveRegistration</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReceiveRegistration</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AuthenticationServlet</servlet-name>
		<servlet-class>de.vogella.gae.java.c2dm.AuthenticationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthenticationServlet</servlet-name>
		<url-pattern>/authenticate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SendServlet</servlet-name>
		<servlet-class>de.vogella.gae.java.c2dm.SendServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendServlet</servlet-name>
		<url-pattern>/send</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
