<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="de.vogella.mylyn.tasksmodify.commands.category">
      </category>
      <command
            name="Sample Command"
            categoryId="de.vogella.mylyn.tasksmodify.commands.category"
            id="de.vogella.mylyn.tasksmodify.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="de.vogella.mylyn.tasksmodify.commands.sampleCommand"
            class="de.vogella.mylyn.tasksmodify.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.vogella.mylyn.tasksmodify.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="de.vogella.mylyn.tasksmodify.commands.sampleCommand"
               label="Add to Mylyn Tasks"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
