<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.example.rcp.demo.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.example.rcp.demo.Perspective"
            id="com.example.rcp.demo.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.example.rcp.demo.application"
            name="RCP Demo">
         <property
               name="appName"
               value="RCP Demo">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.example.rcp.demo.views.PlaygroundView"
            id="com.example.rcp.demo.views.playground"
            name="Playground"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:filelars?after=save">
         <command
               commandId="org.eclipse.ui.file.saveAll"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="filelars"
               label="File">
            <command
                  commandId="org.eclipse.ui.file.save"
                  id="save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  style="push">
            </command>
            <separator
                  name="additions"
                  visible="false">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  style="push">
            </command>
            <command
                  commandId="maps.show"
                  label="Show Dialog"
                  style="push">
            </command>
         </menu>
         <menu
               label="Andere Dinge">
            <command
                  commandId="org.eclipse.ui.file.refresh"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="meinetoolbar">
            <command
                  commandId="org.eclipse.ui.file.save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.refresh"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.example.rcp.demo.handler.RefreshHandler"
            commandId="org.eclipse.ui.file.refresh">
         <activeWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
            </with></activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.example.rcp.demo.views.playground">
         <command
               commandId="org.eclipse.ui.file.refresh"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.example.rcp.demo.handler.ShowDialogHandler"
            id="maps.show"
            name="Show a Dialog">
      </command>
   </extension>

</plugin>
