<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="rcp" sequenceNumber="0">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rcp.sdk.id" version="3.7.1.M20110909-1335"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
</locations>
</target>
