/** Add css rules here for your application. */
html,body {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
}

body {
	font-family: Arial, helvetica, verdana, sans-serif;
	background: #efefef;
	overflow-x: hidden;
}

#header {
	width: 100%;
	text-align: center;
	background: #666;
	padding: 15px 0px 50px 0px;
	-webkit-box-shadow: inset 0px -5px 5px 0px #444;
	-moz-box-shadow: inset 0px -5px 5px 0px #444;
	box-shadow: inset 0px -5px 5px 0px #444;
}

#header p {
	color: #efefef;
}

#footer {
	width: 100%;
	text-align: center;
	clear: both;
	padding-top: 40px;
}

#footer p {
	color: #ccc;
}

.status {
	font-size: 13px;
	margin: 15px;
	font-weight: bold;
	display: inline;
	padding: 3px 7px;
}

.success {
	background: #FFF1A8;
}

.error {
	background: #990000;
	color: #fff;
}

.none {
	background: #666;
}

#message {
	width: 600px;
	margin: 40px auto -25px;
	height: 100%;
}

p {
	font-size: 13px;
	color: #898989;
}

.roundRect {
	margin-top: 12px;
	background: #fff;
	-moz-box-shadow: 0 0 10px #ddd;
	-webkit-box-shadow: 0 0 10px #ddd;
	box-shadow: 0 0 10px #ddd;
	border-radius: 5px;
}

input.field {
	font-family: Arial, helvetica, verdana, sans-serif;
	padding: 10px 12px 12px 12px;
	font-size: 18px;
	text-shadow: 0px 1px 0px #fff;
	border: none;
	border-bottom: 1px solid #E9E9E9;
	outline: none;
	width: 560px;
	margin: 3px 0px;
}

textarea {
	padding: 5px 12px;
	font-size: 18px;
	text-shadow: 0px 1px 0px #fff;
	border: none;
	outline: none;
	resize: none;
	font-family: Arial, helvetica, verdana, sans-serif;
	margin: 3px 0px;
	width: 552px;
}

button.send {
	margin-top: 10px;
	float: right;
	padding: 10px 14px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5D9AFE), to(#4785E8));
	background: -moz-linear-gradient(top, #5D9AFE, #4785E8);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: none;
}

button.send:active {
	margin-top: 10px;
	float: right;
	padding: 10px 14px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4785E8), to(#5D9AFE));
	background: -moz-linear-gradient(top, #4785E8, #5D9AFE);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: none;
}

button.centerbtn {
	float: none;
	display: inline;
	margin: 0 auto;
}

button.centerbtn:active {
	float: none;
	display: inline;
	margin: 0 auto;
}
