<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.vogella.preferences.test.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="de.vogella.preferences.test.Perspective"
            id="de.vogella.preferences.test.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.vogella.preferences.test.handler.SetPreferences"
            id="de.vogella.preferences.test.setPreferences"
            name="Set Preferences">
      </command>
      <command
            defaultHandler="de.vogella.preferences.test.handler.DeletePreferences"
            id="de.vogella.preferences.test.deletePreferences"
            name="Delete Preferences">
      </command>
      <command
            defaultHandler="de.vogella.preferences.test.handler.ShowPreferences"
            id="de.vogella.preferences.test.showPreferences"
            name="Show Preferences">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <command
               commandId="de.vogella.preferences.test.setPreferences"
               label="Set Preferences"
               style="push">
         </command>
         <command
               commandId="de.vogella.preferences.test.deletePreferences"
               label="Delete Preferences"
               style="push">
         </command>
         <command
               commandId="de.vogella.preferences.test.showPreferences"
               label="Show Preferences"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.vogella.preferences.test.ui.MyView"
            id="de.vogella.preferences.test.view"
            name="MyView"
            restorable="true">
      </view>
   </extension>

</plugin>
